@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: "Courier New", Courier, monospace;
}

body {
  @apply bg-gray-200 text-gray-900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
